/*
Githeri.com Copyright 2013. All Rights Reserved.
*/
/* 
    Created on : 20/12/2013, 9:11:00 PM
    Author     : Chausse
*/

.aboutwrapper{
    text-align: left;
    width:650px;
    margin-left:auto;
    margin-right:auto;
    line-height:1.4em;
    font-size:1.2em;
}