/*
Githeri.com Copyright 2013. All Rights Reserved.
*/
/* 
    Created on : 06/01/2014, 9:57:50 AM
    Author     : Chausse
*/
.firstsigninwrapper{
    width:650px;
    margin-top:20px;
    margin-left:auto;
    margin-right:auto;
}
.firstsignintable{
    margin-top:20px;
    margin-left:auto;
    margin-right:auto;
}
.lbl{
    text-align: right;
}
.ipt{
    text-align: left;
}